@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@700&family=Raleway:ital,wght@0,400;0,600;1,400&display=swap');

body {
    font-family: 'raleway', sans-serif;
    background-color: #ECEEEE;
}

h1 {
    font-family: 'Karantina', sans-serif;
    text-align: center;
    font-size: 40px;
}